blockquote{
    /* visibility: hidden; */
    display: none;
}

h2{
    display: inline-block;
}

.flex-box{
    display: flex; /* or "inline-flex" to take the needed width only (just wraps its childs) */
    background-color: #eee; 
    justify-content: space-evenly;
    align-items:center; /* default="stretch" */
    margin-bottom: 50px;
    flex-direction: row; /* or "column" - "column-reverse" - "row-reverse" */
    flex-wrap: wrap; /* default = "no-wrap" -- or "wrap-reverse"*/
    /* flex-flow: row wrap; */
}

.flex-box p{
    background-color: violet;
    color: white;
    padding: 15px;
    border-radius: 20px;
    width: 20%;
    text-align: center;
}

.overflow-box{
    width: 500px;
    height: 150px;
    background-color: #eee;
    padding: 20px;
    margin: auto;
    border: 2px rgba(0, 0, 0, .2) solid;
    border-radius: 20px;
    /* overflow: hidden; */
    overflow-y: scroll;
}